* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} 

body{
	width: 100%;
	height: 100vh;
	background-color: white;
}

header{
	width: 100%;
	margin-bottom: 30px;
}

.header{
	height: 80px;
	
	background-color: rgb(255, 204, 0);
	
}

.header  img{
	width:240px ;
	height:100px ;
	position: relative;
	top: -12px;
	margin-left: 20px;
	padding: 0px;
	float: left;
}


/* Navigator ud Header */
/* ---------------------------------------- */
.nav{
	margin-left: 33%;
	margin-right: 33%;
	
}
.nav ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	
}



.nav ul a{
	text-decoration: none;
	font-size: 17px;
	color:black;
}

.nav ul li {
	width: 125px;
	background-color: rgb(255, 204, 0);
	top: 20px;
	padding: 9px 12px;
	
}

.nav li ul a{
	color:black;
	font-size: 15px;
	
}

.nav li{
	float: left;
	position: relative;
	margin-left: 30px;
	
}

.nav  li .content {
	display: none;
	position: absolute;
	
	
	padding-top: 10px;
	right: 0px;

}


 .nav ul li  :hover   {

	text-decoration-line:underline;
	text-decoration-color: wheat;
}



.nav ul li:hover .content{
	display: block;
	z-index: 2;
	
}



.nav .content :hover {
	text-decoration: none;
	background-color:gray;
	display: block;

}




/* -------------------------------------------------- */

/* Main */
/* -------------------------------------------------- */

main{
	margin-left: 10%;
	margin-right: 10%;
}

.main{

	height: auto;
}


.blocks{
	height: auto;
	flex-wrap: wrap;
	display: flex;
	margin-left: 5%;
	
}

.block-1{
	position: relative;
	width: 250px;
	border: 2px solid gray;

	margin: 5px;
	padding: 15px;

	background-color: white;
	border-radius: 10%;

	box-shadow: 2px 3px 4px gray;
}


.block-1 img {
	width: 215px;
	
}

.block-1 h3 {
	text-align: center;
	
}









/* Footer */
/* -------------------------------------------------- */

footer{
	margin-top: 50px;
}

.footer{

	background-color: black;
	height: auto;
	padding-right: 16px;
   padding-left: 16px;
}



.footer h2{
	color: white;
	text-align: center;
	padding: 10px;
}

.footer p{
	color: white;
	text-align: center;
	padding: 10px;
}






